{% extends 'dtlapp/base.html' %}

{% block title %} Register Page {% endblock %}

{% block content %}
<div class="container">
	<div class="card mt-4 col-md-5 mx-auto">
		<div class="card-header mt-2 bg-primary">
			<h3>User Registration Form</h3>
			
		</div>
		<div class="card-body">

			<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		
		<div class="card-footer">
			<input type="submit" class="btn btn-outline-warning" name="">
			<a href="{% url 'login' %}" class="btn btn-outline-primary">Cancel</a>
		</div>
	</form>
		</div>
	
		
	</div>
	
		
	
</div>


{% endblock %}